---
import Title from "../../components/Title.astro"
---
<section class="pt-32 pb-20 flex justify-center items-center">
    <Title title="Clientes Satisfechos" text="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, itaque!" />
</section>