---
import {blueGradient} from "../../styles/gradients"
import DptoCard from "../../components/DptoCard"
---
<section class=`${blueGradient} flex items-center justify-center pt-24 pb-48 relative`>
    <div class="flex flex-col items-center max-w-[800px]">
        <span class="text-lightYellow">Alquileres temporales</span>
        <h2 class="text-4xl font-bold">Super Frase Increible</h2>
        <p class="text-center text-balance">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quisquam voluptas vel quis, tenetur itaque officiis, fugit unde, laboriosam sit laudantium? Voluptatibus cum possimus tenetur sint repellendus veritatis recusandae ipsum?</p>
    </div>

    <div>
        <DptoCard/>
    </div>
</section>