---
import Banner from "../../components/Banner.astro"
import { wrapper } from "../../styles/styling"
---
<section class="py-32 flex justify-center items-center ">
    <div class=`${wrapper} w-full`>
        <Banner title="Nuestras Unidades" text="Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet" link="/nuestras-unidades"/>
    </div>
</section>

