---
import Banner from "../../components/Banner.astro"
import { wrapper } from "../../styles/styling"
---
<section class="pt-32 pb-20 flex justify-center items-center ">
    <div class=`${wrapper} w-full`>
        <Banner title="Nuestras Unidades" text="Lorem ipsum dolor sit amet consectetur adipisicing elit dolor sit amet"/>
    </div>
</section>

