---
import Title from "../../components/Title.astro"
import ServiceCard from "../../components/ServiceCard.astro"
import { wrapper } from "../../styles/styling"
---
<section class="pt-64 pb-32 flex justify-center items-center">
    <div class=`${wrapper} flex flex-col gap-16 justify-center items-center`>
        <Title title="Servicios" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, aperiam!"/>
        <div class="grid grid-cols-2 place-items-center gap-10">
            <ServiceCard title="Atenci贸n Personalizada" text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, atque!"/>
            <ServiceCard title="Atenci贸n Personalizada" text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, atque!"/>
            <ServiceCard title="Atenci贸n Personalizada" text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, atque!"/>
            <ServiceCard title="Atenci贸n Personalizada" text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, atque!"/>
        </div>
    </div>
</section>
