---
import Hero from "../../components/Hero.astro"
import Header from "../../components/Header"
import Layout from "../../layouts/Layout.astro"
import InfoSection from "../../sections/como-funciona/InfoSection.astro"
---

<Layout title="JP Rentals - Cómo Funciona" description="JP Description">
    <Header/>
    <Hero title="Cómo Funciona" text="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum nemo nostrum veritatis voluptatem a, dolor nobis voluptates. Nisi, esse. Tempore quibusdam eos praesentium itaque delectus commodi ex impedit sint?" img="./assets/img/apartment2.jpg"/>
    <div class="py-16">
        <InfoSection title="Somos buenardos" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Morbi tincidunt ornare massa eget egestas purus viverra accumsan. Suspendisse interdum consectetur libero id. In cursus turpis massa tincidunt dui ut ornare lectus sit. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Mauris pharetra et ultrices neque." img="./assets/img/apartment4.jpg"/>
        <InfoSection title="Somos buenardos" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Morbi tincidunt ornare massa eget egestas purus viverra accumsan. Suspendisse interdum consectetur libero id. In cursus turpis massa tincidunt dui ut ornare lectus sit. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Mauris pharetra et ultrices neque." img="./assets/img/apartment4.jpg" rev={true}/>
        <InfoSection title="Somos buenardos" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Morbi tincidunt ornare massa eget egestas purus viverra accumsan. Suspendisse interdum consectetur libero id. In cursus turpis massa tincidunt dui ut ornare lectus sit. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Mauris pharetra et ultrices neque." img="./assets/img/apartment4.jpg"/>
        <InfoSection title="Somos buenardos" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra convallis posuere morbi leo urna molestie at elementum eu. Morbi tincidunt ornare massa eget egestas purus viverra accumsan. Suspendisse interdum consectetur libero id. In cursus turpis massa tincidunt dui ut ornare lectus sit. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Mauris pharetra et ultrices neque." img="./assets/img/apartment4.jpg" rev={true}/>
    </div>
</Layout>