---
import Layout from "../../layouts/Layout.astro"
import DivEffect from "../../components/DivEffect.astro"
import Header from "../../components/Header"
import {wrapper} from "../../styles/styling"
import ContactForm from "../../components/ContactForm.astro"

---

<Layout title="JP Rentals - Contacto" description="JP Description">
    <Header client:load dark={true} gradient={false}/>
    <section class="min-h-screen flex justify-center py-32">
        <DivEffect as="div" class=`${wrapper} flex w-full`>
            <div class="w-[60%] h-full">
                <img src="./assets/img/apartment.jpg" alt="Apartment" class="h-full rounded-l-md border-r border-[var(--darkest)] object-cover">
            </div>
            <div class="flex flex-col justify-around w-[40%] p-8">
                <div>
                    <h1 class="text-3xl font-bold">Contactanos</h1>
                    <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="flex flex-col text-sm font-semibold text-[var(--darkBlue)]">
                    <span>jprentals@gmail.com</span>
                    <span>+54 11 7389 3344</span>
                    <span>Buenos Aires, Argentina</span>
                </div>
                <ContactForm/>
            </div>
        </DivEffect>
    </section>
</Layout>