---
import {wrapper} from "../../styles/styling"
import {deptos} from "../../consts/deptos"
import DeptoCard from "../../components/DeptoCard"
import Title from "../../components/Title.astro"
---
<section class="flex flex-col gap-16 justify-center items-center py-16">
    <Title title="Para todos los gustos" text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus provident adipisci aliquid quasi quia."/>
    <div class=`${wrapper}`>
        <div class=`flex justify-center gap-4 flex-wrap w-full `>
            {deptos.map(depto => <DeptoCard depto={depto} client:load/>)}
        </div>
    </div>
</section>