---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header"
import HeroHome from "../sections/home/HeroHome.astro";
import Frase from '../sections/home/Frase.astro';
---

<Layout title="JP Rentals" description="JP Description">
	<Header client:load/>
	<main>
		<HeroHome/>
		<Frase/>
	</main>
</Layout>

