<form action="#" class="flex flex-col gap-4">
    <div class="flex flex-col">
        <label for="nombre" class="font-bold">Nombre</label>
        <input type="text" name="nombre" class="border border-[var(--darkest)] rounded-md p-1">
    </div>
    <div class="flex flex-col">
        <label for="email" class="font-bold">Email</label>
        <input type="email" name="email" class="border border-[var(--darkest)] rounded-md p-1">
    </div>
    <div class="flex flex-col">
        <label for="mensaje" class="font-bold">Mensaje</label>
        <textarea name="mensaje" class="border border-[var(--darkest)] rounded-md resize-none p-1 " rows="8"/>
    </div>
    <input type="submit" value="Enviar" class=`p-2 rounded-md bg-[var(--lightYellow)] font-bold text-lg hover:bg-[var(--darkYellow)] duration-200 cursor-pointer`>
</form>