---
import {wrapper, blueGradient} from "../styles/styling"
import Pill from "../components/Pill.astro"
---
<footer class=`${blueGradient} flex justify-center relative py-12`>
  <div class=`${wrapper} w-full flex justify-between items-center`>
    <div>
      <div>
        <a href="/">JP Rentals</a>
      </div>
      <div class="flex justify-center items-center gap-2">
        <Pill link="https://www.google.com/" imgSrc="./assets/icons/airbnb.png" class="bg-[#FF5A5F]"/>
        <Pill link="https://www.google.com/" imgSrc="./assets/icons/booking.png" class="bg-[#47A0DE]"/>
      </div>
    </div>
    <div class="flex justify-center items-center gap-4">
      <a target="_blank" href="https://www.instagram.com/jprentalsba/"><svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.87.704c.83 0 1.658.01 2.487.032l.22.009c.255.01.506.021.809.036 1.209.06 2.033.253 2.756.536.749.29 1.38.683 2.01 1.316a5.575 5.575 0 0 1 1.303 2.016c.279.724.468 1.55.521 2.76.013.302.024.554.032.808l.006.22c.018.83.024 1.658.02 2.486l-.002.848-.004 1.488c0 .829-.01 1.658-.033 2.487l-.007.22c-.01.254-.022.505-.037.809-.06 1.208-.255 2.033-.537 2.755a5.549 5.549 0 0 1-1.315 2.01 5.583 5.583 0 0 1-2.017 1.304c-.724.279-1.55.467-2.758.52-.303.014-.555.024-.809.033l-.22.006c-.83.018-1.658.024-2.487.02l-.848-.002-1.487-.004c-.829 0-1.658-.01-2.486-.033l-.22-.008c-.27-.01-.54-.022-.81-.036-1.208-.06-2.032-.255-2.756-.537a5.554 5.554 0 0 1-2.008-1.315A5.572 5.572 0 0 1 .887 19.47c-.278-.724-.467-1.55-.52-2.758-.012-.27-.023-.54-.032-.81l-.005-.22a89.798 89.798 0 0 1-.022-2.486l.006-2.336c0-.829.01-1.657.032-2.486l.009-.22c.01-.254.022-.507.036-.809.06-1.21.253-2.032.536-2.756a5.544 5.544 0 0 1 1.319-2.008A5.563 5.563 0 0 1 4.26 1.276C4.986.997 5.81.809 7.02.756l.809-.033.22-.005a89.805 89.805 0 0 1 2.486-.021l2.335.007Zm-1.183 5.677a5.68 5.68 0 1 0-.031 11.359 5.68 5.68 0 0 0 .03-11.359Zm-.006 2.272a3.408 3.408 0 1 1-.018 6.815 3.408 3.408 0 0 1 .019-6.816l-.001.001Zm5.975-3.96a1.42 1.42 0 0 0-.008 2.838 1.42 1.42 0 1 0 .008-2.84v.002Z" fill="url(#a)"/><defs><linearGradient id="a" x1="23.063" y1=".731" x2=".28" y2="23.39" gradientUnits="userSpaceOnUse"><stop stop-color="#FFD60A"/><stop offset="1" stop-color="#FFC300"/></linearGradient></defs></svg></a>
      <a target="_blank" href="https://www.instagram.com/jprentalsba/"><svg width="27" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m13.272 12.416-2.678-2.232-9.39 9.56 23.857.065-9.165-9.627-2.624 2.234Zm3.967-3.248 8.88 9.284c.05-.18.088-.366.088-.563l.044-16.003-9.012 7.282ZM.35 1.778l-.044 16.04c0 .197.036.383.086.563l8.96-9.204-9.002-7.4ZM25.446.376 1.164.31l12.114 9.761L25.446.377Z" fill="url(#a)"/><defs><linearGradient id="a" x1="26.255" y1=".379" x2="7.528" y2="25.195" gradientUnits="userSpaceOnUse"><stop stop-color="#FFD60A"/><stop offset="1" stop-color="#FFC300"/></linearGradient></defs></svg></a>
      <a target="_blank" href="https://www.instagram.com/jprentalsba/"><svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M18.414 16.854c-.282.79-1.394 1.44-2.28 1.63-.606.126-1.396.226-4.056-.885-2.987-1.247-7.128-5.672-7.12-8.61.004-1.494.871-3.233 2.379-3.229.725.002.885.017 1.122.59.277.675.954 2.34 1.035 2.51.333.7-.344 1.107-.836 1.714-.157.183-.335.38-.137.722.196.334.874 1.446 1.873 2.34 1.29 1.156 2.337 1.527 2.712 1.684.28.117.613.09.818-.127.259-.278.58-.74.909-1.197.231-.326.525-.366.831-.25.208.073 2.84 1.305 2.951 1.501.082.143.08.817-.201 1.607ZM11.716.473h-.006C5.322.455.112 5.638.095 12.028a11.498 11.498 0 0 0 2.187 6.797L.827 23.127l4.456-1.41a11.497 11.497 0 0 0 6.37 1.93c6.387.018 11.598-5.165 11.616-11.555C23.287 5.702 18.104.49 11.716.472Z" fill="url(#a)"/><defs><linearGradient id="a" x1="23.301" y1=".505" x2=".063" y2="23.616" gradientUnits="userSpaceOnUse"><stop stop-color="#FFD60A"/><stop offset="1" stop-color="#FFC300"/></linearGradient></defs></svg></a>
    </div>
  </div>
  <p class="absolute text-xs bottom-2 left-1/2 -translate-x-1/2">© JP Rentals 2024 - All Rights Reserved</p>
</footer>