---
const {title, text} = Astro.props

---

<article class="relative bg-white text-darkest flex items-center justify-center  p-10 rounded-md border border-darkest">
    <div>
        <h4 class="font-bold text-xl">{title}</h4>
        <p>{text}</p>
    </div>
    <img src="./assets/icons/telefono.svg" alt="">
    
    <div class="absolute -bottom-3 -left-3 -z-10 p-10 w-full h-full bg-white rounded-md border border-darkest"></div>
</article>