---
import DivEffect from "./DivEffect.astro"
const {title, text, img} = Astro.props
---

<DivEffect as="article" class="flex items-center justify-center p-10">
    <div>
        <h4 class="font-bold text-xl">{title}</h4>
        <p>{text}</p>
    </div>
    <img src={img} alt="Icon">
</DivEffect>
