---
import ButtonCTA from "../components/ButtonCTA.astro"
---
<div class="hero-bg min-h-screen">
    <div>
        <!-- <h1>Bienvenido a JP Rentals</h1>
        <p>Administramos tu propiedad para que le saques el mayor rendimiento. </p>
        <ButtonCTA as="a">Nuestras Unidades</ButtonCTA> -->
    </div>
</div>

<style>
    .hero-bg{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(./assets/img/hero-img.jpg);
    }
</style>